/**
 * @name Dark Matter
 * @author Tropical#8908, Hammock#3110
 * @version 3.0.0
 * @description A cold, dark & frosty theme.
 * @source https://github.com/DiscordStyles/DarkMatter/
*/

@import url('https://DiscordStyles.github.io/DarkMatter/src/base.css');

/* Variables */
:root {
    --avatar-size: 32px;
    --background-image: url('https://files.catbox.moe/76f6fd.png');
    --home-image: url('https://i.imgur.com/233d55Y.gif');
    --background-solid: #0b0b0d;
    --background-solid-dark: #0c0e12; 
    --background-solid-darker: #0b0b0d;
    --accent: 252, 186, 3;
    --accent-alt: 176, 139, 37;
    --scrollbar-color: rgba(255, 234, 5, 1);
    --context-menu-font-color: rgba(255, 234, 5, 1);
    --context-menu-transparency: rgba(40, 40, 40, 1);
}
